body{
    background-color: #191919;
}
#ny{
    color: #fff;
    zoom: 220%;
    text-align: center;
    position: absolute;
    bottom: 9%;
    right: 20%;
    left: 0;
}
#nemo{
    color: #fff;
    zoom: 200%;
    text-align: center;
    position: absolute;
    bottom: 0.5%;
    right: 20%;
    left: 0;
}
#demo{
    color: #fff;
    zoom: 180%;
    text-align: center;
    position: absolute;
    bottom: 5%;
    right: 20%;
    left: 0;
}


