body{
    background-color: #191919;
}
#ch{
    color: #fff;
    font-size: 2.2vw;
    text-align: center;
    position: absolute;
    bottom: 9%;
    right: 0%;
    left: 20%;
}
#remo{
    color: #fff;
    font-size: 2vw;
    text-align: center;
    position: absolute;
    bottom: 0.5%;
    right: 0%;
    left: 20%;
}
#temo{
    color: #fff;
    font-size: 1.8vw;
    text-align: center;
    position: absolute;
    bottom: 5%;
    right: 0%;
    left: 20%;
}
