body{
    background-color: #191919;
}
#ch{
    color: #fff;
    font-size: 2.2vw;
    text-align: center;
    position: absolute;
    bottom: 9%;
    right: 0%;
    left: 20%;
}
#remo{
    color: #fff;
    font-size: 2vw;
    text-align: center;
    position: absolute;
    bottom: 0.5%;
    right: 0%;
    left: 20%;
}
#temo{
    color: #fff;
    font-size: 1.8vw;
    text-align: center;
    position: absolute;
    bottom: 5%;
    right: 0%;
    left: 20%;
}

@media only screen and (max-width: 768px){
    body{
        background-color: #fff;
    }
    #ch{
        color: #fff;
        font-size: 6.6vw;
        text-align: center;
        position: absolute;
        bottom: 23%;
        right: 0;
        left: 0;
    }
    #remo{
        color: #fff;
        font-size: 6vw;
        text-align: center;
        position: absolute;
        bottom: 20%;
        right: 0;
        left: 0;
    }
    #temo{
        color: #fff;
        font-size: 5.4vw;
        text-align: center;
        position: absolute;
        bottom: 17%;
        right: 0;
        left: 0;
    }

}


/*@media only screen and (max-height: 1000px){
    body{
        background-color: #fff;
    }
    #ch{
        color: #fff;
        font-size: 6.6vw;
        text-align: center;
        position: absolute;
        bottom: 23%;
        right: 0;
        left: 0;
    }
    #remo{
        color: #fff;
        font-size: 6vw;
        text-align: center;
        position: absolute;
        bottom: 20%;
        right: 0;
        left: 0;
    }
    #temo{
        color: #fff;
        font-size: 5.4vw;
        text-align: center;
        position: absolute;
        bottom: 17%;
        right: 0;
        left: 0;
    }

}
*/
@media only screen and (max-width: 1090px){
    body{
        background-color: #fff;
    }
    #ch{
        color: #fff;
        font-size: 5vw;
        text-align: center;
        position: absolute;
        bottom: 10%;
        right: 0;
        left: 0;
    }
    #remo{
        color: #fff;
        font-size: 4.7vw;
        text-align: center;
        position: absolute;
        bottom: 6%;
        right: 0;
        left: 0;
    }
    #temo{
        color: #fff;
        font-size: 4.4vw;
        text-align: center;
        position: absolute;
        bottom: 2%;
        right: 0;
        left: 0;
    }

}